/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; /* Change font to Roboto */
    margin: 0;
    padding: 0;
    background-color: #14110F;
    color: #F3F3F4;
	width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #14110F;
    color: #F3F3F4;
	
}

.language-switch {
    display: flex;
    align-items: center;
}

#idioma {
    margin-right: 10px;
    font-weight: bold;
}

.flag {
    margin-left: 10px;
    width: 25px;
    height: 15px;
}

/* Estilo del interruptor */
.switch {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 34px;
    margin: 0 10px; /* Añadir margen para evitar superposición */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #F3F3F4;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #7E7F83;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* New styles for section */
#presentacion {
    background-image: url('https://images.pexels.com/photos/6924270/pexels-photo-6924270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    padding: 50px;
	margin: 40px;
    animation: fadeIn 1s ease-in-out; /* Animation for section */
    height: auto;
    justify-items: center;
    align-content: center;
    border: 1px solid transparent; /* Border default color */
    border-radius: 15px; /* Rounded corners */
    transition: box-shadow 1s; /* Smooth transition for border color */
	overflow: hidden;
}

/* Change border color on click */
#presentacion:hover {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
	
}

/* Animation for text appearance */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2, p, h1, img {
    opacity: 0; /* Start hidden */
    animation: fadeIn 1s forwards; /* Apply animation */
}

h2 {
    animation-delay: 0.5s; /* Delay for h2 */
}
#tituloPresentacion{
	font-size: 6em;
	margin: 0;
}
#subtituloPresentacion{
	padding-top: 3em;
	font-size: 3em;
	margin: 0;
}
p {
    animation-delay: 1s; /* Delay for paragraph */
}

#separador{
	margin-top: 7em;
	height: 0.2em;
	background-color: #F3F3F4;
	width: 90%;
}

#tituloTrabajos{
	text-align: center;
	font-size: 4em;
}
#trabajos {
    margin: 40px 0;
}

#tarjetaTrabajo {
    display: flex;
    align-items: center;
    background-color: #231f1c; /* Fondo de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 40px ; /* Margen entre tarjetas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

#tarjetaTrabajo:hover {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
	
}

.trabajo-imagen {
    width: 40%; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

.trabajo-contenido {
    flex: 1; /* Ocupa el espacio restante */
}

.trabajo-contenido h3 {
    font-size: 5em; /* Tamaño del título */
    margin: 0; /* Sin margen */
}

.trabajo-contenido p {
	padding-top: 1em;
	font-size: 2em; /* Tamaño del título */
    margin: 10px 0; /* Margen para el párrafo */
}

.boton-visitar {
    display: inline-block; /* Para que el botón se comporte como un bloque */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #14110F; /* Color de fondo del botón */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.boton-visitar:hover {
    background-color: #060606; /* Color de fondo al pasar el mouse */
}

#tarjetaTrabajoInvertida {
    display: flex;
    align-items: center;
    background-color: #231f1c; /* Fondo de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 40px; /* Margen entre tarjetas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */

}

.trabajo-imagen {
    width: 40%; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    margin-left: 20px; /* Espacio entre la imagen y el contenido */
}

#estudios {
    margin: 40px 0;
}

.tarjetas-container {
    display: flex; /* Usar flexbox para alinear las tarjetas */
    justify-content: space-between; /* Espacio entre las tarjetas */
    padding-top: 20px; /* Espaciado superior */
}

.tarjetaEstudios {
    background-color: #231f1c; /* Fondo de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 10px; /* Margen entre tarjetas */
    flex: 1; /* Permitir que las tarjetas ocupen el mismo espacio */
    min-width: 200px; /* Ancho mínimo para las tarjetas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    text-align: center; /* Centrar el texto */
}

.tarjetaEstudios img {
    width: 100%; /* Hacer que la imagen ocupe todo el ancho de la tarjeta */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.tarjetaEstudios p {
    margin-top: 10px; /* Espaciado superior para el texto */
    font-size: 1.2em; /* Tamaño de fuente */
}
#tarjetaContacto{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4em;
	margin-top: 10em;
	margin-bottom: 20%;
}
.foto-contacto{
width: 15%;
border: 15px solid;
border-radius: 2em;
margin-right: 20em;
transform: rotate(-90deg);

}

#contactame{
	background-size: cover;
    background-position: center;
}
#contactForm{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 25px;
	text-align: center;
	justify-content: center;
	justify-items: center;

}

.contenido-contacto{
	background-color: #231f1c;
	padding: 20px;
	width: 30%;
	display: flex;

}
#botonForm {
    display: inline-block; /* Para que el botón se comporte como un bloque */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #14110F; /* Color de fondo del botón */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
	width: 40%;
	
}

#botonForm:hover {
    background-color: #060606; /* Color de fondo al pasar el mouse */
}